@charset "UTF-8";

.pager {
	
	float: left;
	margin: 5px;	
	
}

#btngroup1{
	text-align: center;
	margin-left: 20%;
}

.rep{
	background: lightgray;
	border: 1px solid gray;
	margin: 5px;
	padding: 10px;
}